body, #app {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

main {
    height: auto;
    padding: 10px;
}

.max-width {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.background-tile {
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.1)
}