body,
html,
main {
  margin: 0;
  padding: 0;
}

header,
body,
html,
main {
  overflow-x: hidden !important;
  width: 100%;
  background: $pale-yellow;
  position: relative;
}

main {
  overflow-y: hidden;
}

.hero-header {
  background-color: $primary-dark;
  background: $primary-dark;
  background: radial-gradient(
    circle,
    $primary-dark 0%,
    $primary-dark 50%,
    $primary-light 100%
  );
  z-index: 2;
  position: relative;
}

#parallax {
  background-image: url(./assets/images/homepage/tobydesk.png);
  background-size: cover;
  position: relative;
  height: 100vh;
  max-width: 1600px;
  max-height: 800px;
  margin: 0 auto;
  background-repeat-y: no-repeat;
  box-shadow: $box-shadow-darkest;
}

#hero-image-background {
  position: absolute;
  top: 30%;
  left: 20%;
  width: 40vh;
  height: 30vh;
  background: #2d3436;
  padding: 10px;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  opacity: 0.9;
  box-sizing: border-box;
}

#hero-image-content {
  position: absolute;
  color: #ffeaa7;
  top: 30%;
  left: 20%;
  width: 40vh;
  height: 30vh;
  opacity: 1;
  filter: blur(0px);
  -webkit-filter: blur(0px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#hero-image-content h2 {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 8vh;
  padding: 0 2vh 1vh 2vh;
}

#hero-image-content p {
  width: 100%;
  font-size: 1.6em;
  color: #00cec9;
  margin: 0;
  padding: 0 2vh;
  box-sizing: border-box;
}

#hero-image-content strong {
  color: #ff7675;
}

@media only screen and (max-width: 400px) {
  #hero-image-background {
    max-width: 90%;
    height: 300px;
    top: 10%;
    left: 5%;
  }

  #hero-image-content {
    max-width: 90%;
    height: 300px;
    top: 10%;
    left: 5%;
    box-sizing: border-box;
  }

  #hero-image-content p {
    font-size: 1.2em;
  }

  #hero-image-content h2 {
    font-size: 4em;
  }
}

@media only screen and (min-width: 401px) and (max-width: 600px) {
  #hero-image-background {
    width: 70%;
    left: 5%;
    top: 20%;
  }

  #hero-image-content {
    width: 70%;
    left: 5%;
    top: 20%;
  }

  #hero-image-content p {
    font-size: 2.5vh;
  }

  #hero-image-content h2 {
    font-size: 9vh;
    padding-bottom: 0;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1200px) {
  #hero-image-background {
    width: 50vh;
    height: 30vh;
    left: 5vh;
  }

  #hero-image-content {
    width: 50vh;
    height: 30vh;
    left: 5vh;
  }

  #hero-image-content p {
    font-size: 3.6vh;
  }

  #hero-image-content h2 {
    font-size: 8vh;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1200px) {
  #hero-image-background {
    width: 50vh;
    height: 30vh;
    left: 5vh;
  }

  #hero-image-content {
    width: 50vh;
    height: 30vh;
    left: 5vh;
  }

  #hero-image-content p {
    font-size: 3vh;
  }

  #hero-image-content h2 {
    font-size: 8vh;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

@media only screen and (max-height: 800px) and (min-width: 600px) {
  #hero-image-background {
    width: 60vh;
    height: 50vh;
    top: 15vh;
    left: 15vh;
  }

  #hero-image-content {
    width: 60vh;
    height: 50vh;
    top: 15vh;
    left: 15vh;
  }

  #hero-image-content p {
    font-size: 4.5vh;
  }

  #hero-image-content h2 {
    font-size: 12vh;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

// Below Paralax
.multi-class {
  margin: 50px auto;
  padding: 20px;
  background: $pale-yellow;

  position: relative;
}
.geek-item {
  margin: 10px 0;
  padding: 10px;
  color: #ffffff;

  .geek-images {
    width: 75%;
    margin: 50px auto;
    display: block;
    border-radius: 5px;
    //clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);

    box-shadow: $box-shadow-dark;
  }

  .geek-blurb {
    padding: 20px;
    background: $dark;
    box-shadow: $box-shadow-dark;
    border-radius: 5px;

    h4 {
      color: $primary;
    }

    .geek-level {
      color: $primary;
      font-weight: bold;
    }
  }
}


@include media-breakpoint-down(md) {
  .geek-item {
    max-width: 400px;
    margin: auto;
  }
}

// -------- What I do section

.what-do-i-do {
  background: $pale-yellow;
  margin: 50px auto;

  .main-image {
    width: 900%;
    box-shadow: $box-shadow-dark;
    border-radius: 5px;
  }
  .image-gallery {
    img {
      max-width: 100%;
      width: 90%;
      margin: 10px auto;
      display: block;
    }
  }
}

// Shpes

.svg-shape {
  z-index: 1;
  position: absolute;
  fill: #e2e1da;
  overflow: hidden;
}

.svg-shape svg path {
  fill: red !important;
}

.above-shapes {
  z-index: 2;
  position: relative;
}
