// Heart glow
.footer-heart {
    animation-name: color_change_heart;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes color_change_heart {
    0% { color: $primary; }
    50% { color: $info; }
    100% { color: $secondary; }
}


.footer-email-dark {
    background-color: $dark;
    color: $light;
}

.footer-email-button {
    background-color: $dark;
    color: $secondary;
}

footer a {
    color: $light;
    &:hover{
        color: $primary;
    }
    &:hover i{
        color: $primary !important;
    }
}